<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../../Content/iview/styles/iview.css" rel="stylesheet" />
    <script src="../../Scripts/vue.js"></script>
    <script src="../../Content/iview/iview.js"></script>

</head>
<body>
    <div id="app">
        <i-button @click="show">Click me!</i-button>
        <Modal v-model="visible" title="Welcome">欢迎使用 iView</Modal>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
    </script>

</body>
</html>
