<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试element</title>
    <!-- 引入样式 -->
    <link href="../../Content/element/theme-default/index.css" rel="stylesheet" />

    <!-- 先引入 Vue -->
    <script src="../../Scripts/vue.js"></script>

    <!-- 引入组件库 -->
    <script src="../../Content/element/index.js"></script>
</head>
<body>

    <div id="app">
        <el-button @click="visible = true">按钮</el-button>
        <el-dialog v-model="visible" title="Hello world">
            <p>欢迎使用 Element</p>
        </el-dialog>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return { visible: false }
            }
        })
    </script>

</body>
</html>