@{
    ViewBag.Title = "Home Page";
}

<h2>主基地</h2>
<div id="child">
    <i class="el-icon-edit"></i>
    <i class="el-icon-share"></i>
    <i class="el-icon-delete"></i>
    <el-button type="primary" icon="search">搜索</el-button>
</div>
<script>
    new Vue().$mount('#child');
</script>